#navbar {
    overflow: hidden;
    margin-top: 10px;
    height: 100px;
}

#navbar a {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
}

.sticky {
    position: fixed;
    top: 0;
    background-color: azure;
    color: black;
    width: 100%;
}